@charset "UTF-8";

#harootContent
{
	width: 100%;
	text-align: center;
	height: auto; 
	min-height: 100px; 
	overflow: auto;
}
	
.alignCenter
{
	width: 80%;
	display: inline-block;
}

div 
{
	font-size: 18px;
}

#walkTitle 
{
	font-size: 50px;
	font-weight: bold;
	font-family: 맑은 고딕;
	color: #343;
}

#walkInfo 
{
	font-size: 20px;
	font-family: 맑은 고딕;
	color: #343;
}

.table 
{
	border-collapse: collapse;
	width: 100%;
}

.table th, .table td 
{
	border: 1px solid gray;
	border-left: 0px;
	border-right: 0px;
	padding: 3px;
	line-height: 150%;
}

.table th 
{
	font-weight: bold;
	background-color: #EEE;
}

#mr 
{
	display: inline-block;
	float: none;
}

img 
{
	width: 200px;
}

.icons 
{
	width: 20px;
}

.btn 
{
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.menuBtn
{
	border: none;
	color: white;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.menuBtn:active
{
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.42);
}

/* 닉네임과 차단/신고 메뉴버튼 정렬 */
.nickname
{
	width: 100%;
}

.thumbLeft
{
	float: left;
}

.thumbRight
{
	
	float: right;
}

/* 댓글 부분 정렬 */

.newReply
{
	width: 100%;
}

textarea
{
	width: 80%;
	vertical-align: middle;
}

#insertReply
{
	width: 7%;
}
